html, body {
	height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
	font-family: Helvetica;
	
	background: #111111;
}

header {
	margin: 0;
	padding: 14px 0 0 0;
	height: 50px;
	background-color: #564c89;
	background-image: url("../images/header.png");
}

#footer {
	margin: 0;
	padding: 10px 0;
	background-color: #564c89;
	color: #fff;
}

#scoresheet-name {
	margin: 0;
	color: #fff;
}

.row {
	margin: 0;
	padding: 50px 0 150px 0;
	width: 100%;
	background-color: #fff;
}

.inside-option {
	height: 250px;
	background-color: #fff;
	color: #564c89;
	transition: all 0.5s ease;
}

.inside-option:hover {
	color: #fff;
	background-color: #564c89;
}

.option-outline {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

span.option-title {
	margin-top: 100px;
}