html, body, #wrapper {
	height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
	font-family: Helvetica;
	
	background: -webkit-radial-gradient(center, #BF4D00, #E52A00);
	background: -moz-radial-gradient(center, #BF4D00, #E52A00);
	background: -o-radial-gradient(center, #BF4D00, #E52A00);
	background: -ms-radial-gradient(center, #BF4D00, #E52A00);
	background: radial-gradient(center, #BF4D00, #E52A00);
}

/* Judge Landing Style */
	
#wrapper td {
    vertical-align: middle;
    text-align: center;
}

#center-logo, #p1, #p2, #p3, #p4 {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
		
#center-logo {
	background: url(../images/uhaclogo.png) center;
	background-color: white;
	position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
	margin-top: -75px;
	margin-left: -75px;
	border-radius: 50%;
	border: 0.5em solid gray;		

	-webkit-transition: background-color 1s ease, border-color 1s ease, transform 1s ease; /* Safari, Chrome and Opera > 12.1 */
       -moz-transition: background-color 1s ease, border-color 1s ease, transform 1s ease; /* Firefox < 16 */
        -ms-transition: background-color 1s ease, border-color 1s ease, transform 1s ease; /* Internet Explorer */
         -o-transition: background-color 1s ease, border-color 1s ease, transform 1s ease; /* Opera < 12.1 */
            transition: background-color 1s ease, border-color 1s ease, transform 1s ease;

}
		
#center-logo:hover {
	background: url(../images/uhaclogobw.png) center;
	/*background: url(../images/uhaclogo2.png) center;*/
	background-color: #ffffff;
	border-color: #000000;		
	/*border-color: #000083;	*/

	-webkit-transform: rotate(720deg); /* Safari, Chrome and Opera > 12.1 */
       -moz-transform: rotate(720deg); /* Firefox < 16 */
        -ms-transform: rotate(720deg); /* Internet Explorer */
         -o-transform: rotate(720deg); /* Opera < 12.1 */
            transform: rotate(720deg);
}

#event-name {
	color: white;
	word-wrap: break-word;

    -webkit-animation-duration: 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation-duration: 1s; /* Firefox < 16 */
        -ms-animation-duration: 1s; /* Internet Explorer */
         -o-animation-duration: 1s; /* Opera < 12.1 */
            animation-duration: 1s;

    -webkit-animation-fill-mode: both; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation-fill-mode: both; /* Firefox < 16 */
        -ms-animation-fill-mode: both; /* Internet Explorer */
         -o-animation-fill-mode: both; /* Opera < 12.1 */
            animation-fill-mode: both;   

	-webkit-animation-timing-function: ease-in-out; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation-timing-function: ease-in-out; /* Firefox < 16 */
        -ms-animation-timing-function: ease-in-out; /* Internet Explorer */
         -o-animation-timing-function: ease-in-out; /* Opera < 12.1 */
            animation-timing-function: ease-in-out;  

	-webkit-animation-iteration-count: infinite; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation-iteration-count: infinite; /* Firefox < 16 */
        -ms-animation-iteration-count: infinite; /* Internet Explorer */
         -o-animation-iteration-count: infinite; /* Opera < 12.1 */
            animation-iteration-count: infinite; 
}

#event-name:hover {
	cursor: pointer;
    -webkit-animation-name: bounce; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation-name: bounce; /* Firefox < 16 */
        -ms-animation-name: bounce; /* Internet Explorer */
         -o-animation-name: bounce; /* Opera < 12.1 */
            animation-name: bounce; 
}

#system-name {
	color: white;
	word-wrap: break-word;
}

#p1 {
	width: 20em;
	height: 20em;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-top: -10em;
	margin-left: -10em;
}

#p2 {
	width: 20em;
	height: 5em;
	position: absolute;
	top: 90%;
	left: 50%;
	margin-top: -8em;
	margin-left: -10em;
}

.sub {
	color: lightgray;
	word-wrap: break-word;
}

#company, #dev-grp {
	color: white;
	word-wrap: break-word;
}


@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Judge Registration Style */

input {
	border-radius: 0;
	background-color: blue;
}

#p3 {
	width: 20em;
	height: 20em;
	position: absolute;
	top: 60%;
	left: 50%;
	margin-top: -10em;
	margin-left: -10em;
}

#p4 {
	width: 20em;
	height: 20em;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10em;
	margin-left: -10em;
}

#register-button, #input-container {
	height: 50px;
}

#register-button {
	color: #fff;
	background-color: #0e0058;
	border:  solid 2px #fff;
	width:  120px;
	transition: background-color 0.5s ease;
}

#register-button:hover {
	background-color: #3923ab;
}

#register-button:focus {
	background-color: #1b0688;
}

#input-container {
	background-color: #fff;
	border-radius: 0;
}

#welcome-judge {
	color: #fff;
	font-size: 20px;
}